@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    color: white; 
  }
/* Add this to your global CSS or a module-specific CSS file */

.headline span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid rgba(255, 255, 255, 0.75); /* Cursor effect */
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgba(255, 255, 255, 0.75); }
  }
  